* {
    box-sizing: border-box;
    margin:  0 auto;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Futura, “Trebuchet MS”, Arial, sans-serif;
    font-size: 20px;
    color: #212021;
    text-align: justify;
    margin: 0 auto;
    max-width:  100%;
}

h2 {
    font-size: 2rem;
    font-weight: bold;
    padding: 5px 10px;
    margin-top: 10px;
    display: inline-block;
    background: #8CB083;
    border-radius: 5px;
}

h3 {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 5px;
    background: #8CB083;
    border-radius: 5px 5px 0 0;
    margin-bottom: 0px;
}

p {
    font-size: 1.4rem;
    text-align: justify;
    letter-spacing: 2px;
    padding: 10px;
    margin: 0 auto;
}

a {
    color: #212021;
    text-align: center;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

 img {
    margin: 0 auto;

}

ul {
    border-radius: 5px;
    list-style-type: none;
    text-align: center;
    background: rgba(140,176,131, 0.9);
}

li{
    padding: 10px;
    margin: 15px 10px;
    border-radius: 5px; 
}

.navbar-brand {
    margin-left: 15px; 
}
.navbar-nav {
   margin-right: 15px; 
}

.feat {
    padding:  20px;
}

.vertical-center {
    display: flex;
    align-items: center;
}

.row {
    padding: 10px;
}

.shuffle {
    padding: 20px;
}


#tri-be {
    background: url(images/mt-rainier.jpeg) no-repeat center top fixed;
    background-size: cover;
    min-height: calc(100vh - 55px);
    padding-top: 60px;
}

#about {
    background-color: rgba(140,176,131, 1);
    height: auto;
    min-height: 100vh;
}

#profile {
    border-radius: 5px;
    padding: 10px;
}

#skills {
    min-height: 100vh;
}

#work {
    background-color: #383637;
    background-size: cover;
    min-height: 100vh;
}

.btn-lg {
    background: rgba(140,176,131, 0.8);
    padding: 5px 10px;
    margin: 5px auto;
}

#buttons {
    margin: 0 auto;
    text-align: center;
}

#spin {
    margin: 0 auto;
}

#spin h2 {
    margin: 0 auto;
}

#work img {
    margin: 0 auto;
    max-height: 700px;
}

/* Begin #logo */

#logo {
    margin: 0 auto;
}


#logo img {
    display: block;
    margin: auto;
    margin-bottom: 100px;
    height: 320px;
    width: 320px;
    border-radius: 50%;
}