body {
  font-family: Futura, “Trebuchet MS”, Arial, serif;
}

p {
  font-size: 23px;
  margin-top: 40px;
  padding: 20px;
  text-align: justify;
  letter-spacing: 2px;
}

a:hover {
  color:white;
  text-decoration: none;
  cursor: pointer;
}

#media {
  text-decoration: none;
  text-align: center;
}

#media a {
  margin-left: 2%;
  margin-right: 2%;
  background:#9cc492;
  color: inherit;
}

.jumbotron {
  background: url(https://images.unsplash.com/photo-1454894591093-3530b06939bf?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=e811032cc41ccd14c2e00a30389aa60b) no-repeat center top;
  background-size: cover;
  height: 100%;
  margin-top: 30px;
  margin-bottom: 0px;
}
#profile {
  border-radius: 215px;
  max-width: 100%;
  padding: 20px;
}
#tri-be {
  background: #9cc492;
  background-size: cover;
  -webkit-backface-visibility: hidden;
  min-height: 550px;
}

#inscri-be {
  background: url(https://hd.unsplash.com/photo-1451186242394-2b461812025b) no-repeat center center;
  background-size: cover;
  -webkit-backface-visibility: hidden;
  min-height: 800px;
}


.feat {
  padding-top: 40px;
}

.feat h1 {
  margin: 10px;
  padding: 5px;
  display: inline-block;
}
.feat h2 {

}

/* Begin #logo */

#logo {
  height: 320px;
  margin: 0px auto;
  margin-bottom: 100px;
  overflow: hidden;
  position: relative;
  width: 320px;
  margin-top: 50px;
  border-radius: 285px;
  -webkit-border-radius: 285px;
  -moz-border-radius: 285px;
}

#logo h1 {
  margin: 0 auto;
  position: relative;
  left: 145px;
  top: 120px;
  color: #FFC;
  font-size: 40px;
  font-weight: bold;
}

#logo div {
  position: absolute;
}

#logo .red {
  border-radius: 80px / 300px;
  background: #fd463b;
  height: 300px;
  width: 380px;
  top: -150px;
  left: -20px;
  -webkit-transform: rotate(45deg);
}

#logo .green {
  border-radius: 00px;
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  background: #9cc492;
  height: 400px;
  width: 340px;
  left: -5px;
}

#logo .white {
  background: #FFC;
  border-radius: 150px;
  -webkit-border-radius: 140px;
  -moz-border-radius: 150px;
  height: 215px;
  width: 340px;
  -webkit-transform: rotate(-1deg);
  -moz-transform: rotate(-15deg);
}


/*End #logo*/


/* Begin navbar CSS*/

.navbar-toggle .icon-bar:nth-of-type(2) {
  top: 1px;
}

.navbar-toggle .icon-bar:nth-of-type(3) {
  top: 1px;
}

.navbar-toggle .icon-bar {
  position: relative;
  transition: all ease-in-out;
}

.navbar-toggle.active .icon-bar:nth-of-type(4) {
  top: -7px;
  transform: rotate(45deg);
}

.navbar-toggle.active .icon-bar:nth-of-type(2) {
  background-color: transparent;
}

.navbar-toggle.active .icon-bar:nth-of-type(3) {
  top: -2px;
  transform: rotate(-45deg);
}


/*End navbar CSS*/
