* {
  box-sizing: border-box;
}

body {
  font-family: Futura, “Trebuchet MS”, Arial, sans-serif;
  text-align: justify;
}

h2 {
  padding: 5px;
  display: inline-block;
}

p {
  font-size: 2vw;
  text-align: justify;
  letter-spacing: 2px;
}

a:hover {
  color:white;
  text-decoration: none;
  cursor: pointer;
}

#media {
  text-decoration: none;
  text-align: center;
  display: inline-block;
  width: 100%;
}

button, .btn {
  background:#9cc492;
}

a {
  color: inherit;
  text-align: center;
}


.jumbotron {
  background: url(mt-rainier.jpeg) no-repeat center top;
  background-size: cover;
  height: 100%;
  margin-top: 30px;
  margin-bottom: 0px;
}
#profile {
  border-radius: 50%;
  max-width: 95%;
  padding: 20px;
}
#tri-be {
  background: #9cc492;
  background-size: cover;
  min-height: 550px;
}

#tri-be p {
  font-size: 23px;
  margin-top: 40px;
  padding: 20px;
  
}

#inscri-be {
  background: url(rivers-iceland.jpeg) no-repeat center center;
  background-size: cover;
  min-height: 800px;
}

/* Begin #logo */

#logo {
  height: 320px;
  margin: 0px auto;
  margin-bottom: 100px;
  overflow: hidden;
  position: relative;
  width: 320px;
  margin-top: 50px;
  border-radius: 285px;
  -webkit-border-radius: 285px;
  -moz-border-radius: 285px;
}

#logo h1 {
  margin: 0 auto;
  position: relative;
  left: 145px;
  top: 120px;
  color: #f3e9eb;
  font-size: 40px;
  font-weight: bold;
}

#logo div {
  position: absolute;
}

#logo .red {
  border-radius: 200px / 50px;
  background: #C4929C;
  height: 300px;
  width: 380px;
  top: -150px;
  left: -15px;
  transform: rotate(48deg);
}

#logo .green {
  border-radius: 200px;
  background: #9cc492;
  height: 400px;
  width: 340px;
  left: -5px;
}

#logo .white {
  background: #f3e9eb;
  border-radius: 150px;
  height: 190px;
  width: 360px;
  transform: rotate(-3deg);
}


/*End #logo*/


/* Begin navbar CSS*/

/*End navbar CSS*/
